@import "../../scss/lib/mediaqueries";

.root {
    width: 100%; 
    padding: .3rem;
    background-color: #131921;
    padding: 2rem;
}

.footer__container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  @include respond-to(580px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  & h4 {
    color: #F8F8F8;
    font-weight: 500;
  }
  & p {
    color: #FFF;
    font-size: .8rem;
  }
}

.footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__logoImage {
  margin-top: 1.4rem;
  width: 100px;
}